/* if not supported, the divs will just be arranged as rows */
@supports (display: grid) {
    #spacedText {
        display: grid;
        grid-template-rows: .3fr auto auto auto auto;
        grid-row-gap: 1.5em;
        grid-template-areas:
            "settings"
            "graph-column"
            "distance-column"
            "ppi-table"
            "protein-list"
    }
    @media (min-width: 700px) {
        #spacedText {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            grid-row-gap: 3.5em;
            grid-column-gap: 1.5em;
            grid-template-areas:
                "settings settings"
                "graph-column distance-column"
                "ppi-table ppi-table"
                "protein-list protein-list"
        }
    }
    .settings {
        grid-area: settings;
    }
    .graph-column {
        grid-area: graph-column;
    }
    .distance-column {
        grid-area: distance-column;
    }
    .ppi-table {
        grid-area: ppi-table;
    }
    .protein-list{
        grid-area: protein-list;
    }

    .settings {
        display: grid;
        grid-template-rows: .2fr repeat(3, .2fr auto);
        grid-row-gap: 1em;
        grid-template-areas:
            "settings-title"
            "text-coloring"
            "coloring"
            "text-experiments"
            "experiments"
            "text-proteins"
            "proteins"
    }
    @media (min-width: 700px) {
        .settings {
            display: grid;
            grid-template-rows: .2fr auto auto auto;
            grid-template-columns: 1fr 3fr;
            grid-row-gap: 1.5em;
            grid-column-gap: 1.5em;
            grid-template-areas:
                "settings-title ."
                "text-coloring coloring"
                "text-experiments experiments"
                "text-proteins proteins"
        }
    }
    .settings-title{
        grid-area: settings-title;
    }
    .text-coloring{
        grid-area: text-coloring;
    }
    #coloring-dropdown{
        grid-area: coloring;
    }
    .text-experiments{
        grid-area: text-experiments;
    }
    #experiments-dropdown{
        grid-area: experiments;
    }
    .text-proteins{
        grid-area: text-proteins;
    }
    #proteins-dropdown{
        grid-area: proteins;
    }
}
.distance-column, .graph-column {
    padding-bottom: 30px;
}
.curves-graph-container, .nodes-graph-container{
    height: 450px;
}
.chart {
    width: 100%;
    height: 100%;
    font-size: 0.25em;
    padding:0;
    border: .2rem solid rgba(66, 66, 66, 0.57);
    transition: border-color 1000ms ease;
}
.default-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    font-size: 7em;
}
.table-container table {
    background-color: #fbfbfb !important;
}
.table-container {
    padding: 5px 0px;
    width: 100% !important;
}
.table-container td {
    padding: 4px 2px !important;
    vertical-align: top;
}
.table-data-content {
    width: 100%;
    display: flex;
    justify-content: center;
}
.distance-div, .correlation-div {
    width: 100%;
    height: 100%;
    text-align: center;
}
.legend{
    padding: 5px 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.legend > * {
    padding: 0px 10px;
    display: flex;
    flex-wrap: nowrap;
}
.color-distance {
    /*border: 1px solid lightgrey;*/
    height: 20px;
    width: 50px;
    background: linear-gradient(to right, white, #3b8ab3);
}
.color-correlation {
    /*border: 1px solid lightgrey;*/
    height: 20px;
    width: 50px;
    background: linear-gradient(to right, white, #b3813d);
}
.grid-container {
    min-height: 70px;
}

.settings .text-coloring, .text-experiments, .text-proteins {
    display: flex;
    align-items: center;
}

#protein_heatmap svg {
    border: .2rem solid rgba(66, 66, 66, 0.57);
}
#protein_heatmap svg g{
    padding-right: 5px;
    padding-bottom: 5px;
}
