input{
    width: 100%;
    border: 0.5px solid silver;
    z-index: 0;
    opacity: 0.8;
    font-size: 1.3em !important;

    padding: 3px;
}
.field:focus {
    outline: none;
}
/* if not supported, the divs will just be arranged as rows */
@supports (display: grid) {
    .search-header {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-row-gap: .5em;
        grid-column-gap: 1.5em;
        grid-template-areas:
            "complex-text"
            "complex-search"
            "separator"
            "protein-list-text"
            "protein-list-search"
    }
    @media (min-width:700px) {
        .search-header {
            display: grid;
            grid-template-rows: 1fr 0.1fr 1fr;
            grid-template-columns: 1.5fr 4fr;
            grid-row-gap: 0.5em;
            grid-column-gap: 1.5em;
            grid-template-areas:
                "complex-text complex-search"
                "separator . "
                "protein-list-text protein-list-search"
        }
    }
    .complex-search-text{
        grid-area: complex-text;
    }
    .search-complex-name{
        grid-area: complex-search;
    }
    .protein-list-search-text{
        grid-area: protein-list-text;
    }
    .search-protein-list{
        grid-area: protein-list-search;
    }
    .separator {
        grid-area: separator;
    }
}
tbody tr {
    cursor: pointer;
}
tbody tr:hover {
    background-color: lightgrey;
}

.experiment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.experiment .experiment-info {
    padding-right: 30px;
}
.experiment-number .dropdown {
    display:flex;
    justify-content: space-between;
}
.experiment-number .dropdown-search {
    border: 1px solid rgb(224, 225, 226, 0.8);
    border-radius: 3px;
    background-color: rgb(224, 225, 226, 0.8);
}
.experiment-number .dropdown .dropdown-icon {
    display: flex;
    justify-content: center;
}
.experiment-number .dropdown .text {
    height: 40px;
    padding: 0 20px;

    display:flex;
    align-items: center;
}
.experiment-number .dropdown .menu{
    width: 100%;
}
.experiment-number .dropdown .menu .item {
    width: 100%;
}
.experiment-number .dropdown .menu .item:hover {
    background-color: lightgrey;
}

.search-header, .info{
    padding: 1.5em 0em 1.5em 0em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.search-header .search {
    width: 45em;
    min-width: 20em;
    z-index: 0;
    opacity: 0.8;
}

.grid-container {
    min-height: 100px ;
}
