.data-container {
    display: flex;
    flex-wrap: wrap;
}
.data-container > * {
    width: 50%;
    padding: 10px;
}
.data-container .column-left {
    min-width: 300px;
    max-height: 700px;
}
.data-container .column-left .default-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.data-container .column-right .column-right {
    padding: 10 20 10 20px;
    border: 1px solid grey;
    background-color: #F5F5F5;
}

.data-container .column-right > * {
    display: flex;
    align-items: flex-end;
    border-bottom: 0.5px solid silver;
    padding: 5px;
}
.data-container .column-right .text {
    min-width: 150px;
}
.data-container .column-right .list {
    display: flex;
    flex-wrap: wrap;
}
.data-container .column-right .list-item {
    padding: 5px;
    margin: 2 1 2 1px;

    border-radius: 2px;
    background-color: #E0E0E0;
    text-align: center;
}
.data-container .column-right .id-and-names-list-item {
    display: flex;

    border-bottom: 0.5px dashed silver;
}
.data-container .column-right .id-and-names-id {
    min-width: 80px;
}
.data-container .column-right .id-and-names-text {
    word-wrap: break-word;
}

.curves-grid .grid {
    padding: 10px;
}
.selected-curve-dot {
    width: 20px;
    background: green;
    height: 20px;
    position: absolute;
    right: 0;
    margin: 5px;
    border-radius: 10px;
}

.complex-header{
    display: flex;
    justify-content: space-between;
}
.experiment-number .dropdown {
    width: 100%;

    display:flex;
    justify-content: space-between;
}
.experiment-number .dropdown-search {
    border: 1px solid rgb(224, 225, 226);
    border-radius: 3px;
    background-color: rgb(224, 225, 226);
}
.experiment-number .dropdown .dropdown-icon {
    display: flex;
    justify-content: center;
}
.experiment-number .dropdown .text {
    width: 100%;
    height: 40px;
    padding: 0 20px;

    display:flex;
    align-items: center;
}
.experiment-number .dropdown .menu{
    width: 100%;
}
.experiment-number .dropdown .menu .item {
    width: 100%;
}
.experiment-number .dropdown .menu .item:hover {
    background-color: lightgrey;
}

.tooltip-content .t-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.tooltip-content .t-left {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
}

.curves-grid .cube-text-middle {
    position: absolute;
    top: 42%;
    left: 9px;
    font-size: 13pt;
}
