body {
    overflow: scroll;
    background-color: #fbfbfb !important;
}
.legend{
    left: 28%;

    background-color: #fbfbfb !important;
    padding: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.legend > * {
    padding: 0px 10px;
    display: flex;
    flex-wrap: nowrap;
}
.color-distance {
    border: 1px solid lightgrey;
    height: 20px;
    width: 50px;
    background: linear-gradient(to right, white, rgba(0,255,0,1));
}
.color-correlation {
    border: 1px solid lightgrey;
    height: 20px;
    width: 50px;
    background: linear-gradient(to right, white, rgba(52,152,219,1));
}
