.protein-name, .experiments-container, .related-proteins-container, .related-complexes {
    padding: 20px;
}

.protein-container {

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}
.protein-container > *{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 50%;
    min-width: 300px;
    height: 480px;
    padding: 10px;
}
.protein-container .protein-curve {
    position:relative;
}
.protein-container .protein-curve #chart {
    position:absolute;
}
.protein-container .meta-data-container {
    min-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.protein-container .meta-data-container > * {
    padding: 10px;
}
.protein-container
        .protein-data > *:not(.container-info),
        .experiment-data > *:not(.container-info) {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid silver;
}
.protein-container .meta-data-container .experiment-data .description .value {
    word-break: break-word;
    text-align: right;
}
.protein-container .meta-data-container .separator {
    width:40px;
}
.protein-container .other-experiments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.protein-container .other-experiments-container .other-experiment {
    margin: 5 0 5 0px;
    padding: 1 5 1 5px;
    border: 1px solid silver;
    border-radius: 3px;
    background-color: silver;

}
.protein-container .other-experiments-container .other-experiment a {
    color: black;
}
.protein-container .other-experiments-container .other-experiment:hover {
    background: white;
}

.experiments-container .grid .selected-curve-dot {
    visibility: hidden;
    width: 20px;
    background: green;
    height: 20px;
    position: absolute;
    right: 0;
    margin: 5px;
    border-radius: 10px;
}



.related-complexes .container {
    margin: 10px;
    border: 1px solid silver;
    padding: 10px;
    background-color: #F5F5F5;
}
.related-complexes .container .complex-item {
    margin: 5 0 5 0px;
    padding: 10 5 10 5px;
    min-width: 220px;
    cursor: pointer;
    background-color: #EEEEEE;
}
.related-complexes .container .complex-item .name, .comment, .proteins {
    display: flex;
    align-items: flex-end;
    border-bottom: 0.5px solid silver;
}
.related-complexes .container .text {
    min-width: 130px;
}
.related-complexes .container .value {
}
.related-complexes .container .complex-item:hover {
    background-color: #FAFAFA;
    border: .1px solid black;
}
.related-complexes .container .complex-item .protein-list {
    display: flex;
    flex-wrap: wrap;
}
.related-complexes .container .complex-item .protein-list .protein-item{
    width: 80px;
    padding: 5px;
    margin: 2 1 2 1px;

    border-radius: 2px;
    background-color: #E0E0E0;
    text-align: center;
}
.related-complexes .container .complex-item .protein-list .protein-item.actual-protein{
    background-color: #9E9E9E;
}
