body {
    background-color: #fbfbfb;
    border-top: 1rem solid #E8E8E8;
}

.ui.main.container {
    padding-bottom: 1em;
    padding-top: 5rem;
    height: 100%;
}

#title {
    font-size: 5rem;
    color: hsl(200,50%,40%);
    text-decoration: underline;
    text-align: center;
    height: 5rem;
}

#title > a {
    color: inherit;
}

#spacedText {
    min-height: 16rem;
}

.gigantic {
    font-size: 5rem;
}

.green {
    color: rgba(75, 208, 106, 0.66);
}

.blue {
    color: rgba(83, 162, 208, 0.66);
}

.red {
    color: rgba(208, 54, 64, 0.66);
}

/* grid */

.grid-item {
    text-align: center;
    min-height: 200px;
    min-width: 200px;
    font-size: 0.22em;
    padding:0;
    border: 1em solid rgba(66, 66, 66, 0.57);
    transition: border-color 1000ms ease;
    cursor: pointer;
}

.grid-item > p {
    line-height: 10em;
    margin: 0;
    font-weight: bold;
}

.inStore {
    border-color: rgba(41, 151, 56, 1);
}

.partiallyInStore {
    border-color: rgba(180, 174, 52, 1);
}

.curvesCount {
    position: absolute;
    bottom: 1px;
    right: 3px;
    font-size: 13pt;
    opacity: .7;
}

.experimentNumber {
    position: absolute;
    bottom: 1px;
    right: 3px;
    font-size: 13pt;
}

.cube {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: transparent;
    transition: background-color 1000ms ease;
}

.partiallyInStore > .cube {
    background-color: rgba(180, 174, 52, 1);
}

.inStore > .cube {
    background-color: rgba(41, 151, 56, 1);
}


/* Search */

.prompt.inline {
    border: .0001em solid #999 !important;
    font-size: 2em !important;
    padding: 0.1em !important;
    border-radius: 0 !important;
    opacity: 1 !important;
    color: black !important;
    text-decoration: underline !important;
}

.space {
    min-height: 1em;
}

.clearButton {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

/* curves */

#curvesGraph {
    width: 100%;
    height:70%;
    font-size: 0.25em;
    padding:0;
    border: .2rem solid rgba(66, 66, 66, 0.57);
    transition: border-color 1000ms ease;
}

#nodesGraph {
    width: 100%;
    height:70%;
    padding:0;
    font-size: 0.2em;
    border: .2rem solid rgba(66, 66, 66, 0.57);
    transition: border-color 1000ms ease;
}