body {
    background-color: #fbfbfb;
}

.ui.main.container {
    padding-bottom: 1em;
    padding-top: 5rem;
    height: 100%;
}

#title {
    font-size: 5rem;
    color: rgba(165, 61, 61, 0.81);
    text-decoration: underline;
    text-align: center;
    height: 5rem;
}

#title > a {
    color: inherit;
}

#spacedText {
    min-height: 16rem;
}

.gigantic {
    font-size: 5rem;
}

.green {
    color: rgba(75, 208, 106, 0.66);
}

/* grid */

.grid-item {
    text-align: center;
    min-height: 200px;
    min-width: 200px;
    font-size: 0.2em;
    padding:0;
    border: 2px solid rgba(66, 66, 66, 0.57);
    cursor: pointer;
}

.grid-item > p {
    line-height: 10em;
    margin: 0;
    font-weight: bold;
}

.curvesCount {
    position: absolute;
    bottom: 1px;
    right: 3px;
    font-size: 13pt;
    opacity: .7;
}

.prompt.inline {
    border: .0001em solid #999 !important;
    font-size: 2em !important;
    padding: 0.1em !important;
    border-radius: 0 !important;
    opacity: 1 !important;
    color: black !important;
    text-decoration: underline !important;
}

.space {
    min-height: 1em;
}

.clearButton {
    cursor: pointer;
}

.text-center {
    text-align: center;
}