extends base

block content
    p --> This is a work in progress <--
    p
        |Webpage and design by
        span.green  Christian Dallago
    p
        |Data courtesy of
        span.blue  Chris Soon Heng Tan & colleagues

    p
        | Cite
        span.red  Some paper

block scripts
    - var delta = 50