extends base

block postStyles
    link(rel='stylesheet', href='/public/css/bulkSearch.css')
    link(rel='stylesheet', href='/public/css/pagination.css')

block content
    .modal#add-protein-modal
    table.ui.celled.table
        thead
            tr
                th Select
                th ID
                th Name
                th Description
                th Uploader
        tbody#experiments-list-container
    
    .pagination#pagination-component
            
    h3 2. Input proteins
    .text-center
        .ui.input.search.maxWidth
            textarea(name="prot", placeholder="P1234, P43244").inline.prompt.maxWidth.textarea P55072 P00338 O95456 P43523 A0AVF1   
            //- P55072 P00338 O95456 P43523 A0AVF1 P37837 P12347 P12349 Q9H1D9  P48059 Q8NEL9 Q8BK64  A4D0S4 Q9H777 E0CZB3  Q9BSJ2 Q8BVU0  Q8K1N2  Q8K010 P24527  B1AKR6 Q75N03 Q12913  Q8R3L8  Q8N1D5  Q96EL3  P07311 E7ETA6 P70349 O60294 P45983 P52792  Q06481  Q9BVL4  O00754  F8WJD4
    .stats
        span
            strong 0
        |  Protein identifiers matched by your input
    .space
    h3 3. Check statistics
    .space
    p Input at least one protein and select at least one experiment to get started.
    
    .heatmap-container
        .heatmap#heatmap
        .show-button
            a.ui.disabled.button#show-button(href='/curves')
                i.eye.icon
                span Analyze
        
        .legend
            .l-item.c1 
                .sample
                .text Protein is not contained
            .l-item.c2 
                .sample
                .text Protein is contained
            .l-item.c3 
                .sample
                .text Protein is saved for visualization

block settings
    .divider
    a(href='/experiments').item Search Experiments
    a(href='/curves').item Analyze

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/js/modal.js")
    script(type="text/javascript", src="/public/js/helper.js")
    script(type="text/javascript", src="/public/js/pagination.js")
    script(type="text/javascript", src="/public/js/bulkSearch.js")
