extends base

block postStyles
        link(rel='stylesheet', href='/public/css/complexes.css')
        link(rel='stylesheet', href='/public/css/pagination.css')

block content
    .experiment
        .experiment-info Curves to display from experiment (only visual):
        .experiment-number#experiment-number
            .dropdown.dropdown-search
                .experiment-number-loading-animation
                input(type='hidden' name='experiments' value='default').text-input
                .text
                    .value Select
                .dropdown-icon
                    i.dropdown.icon
                .menu

    .search-header
        .complex-search-text Enter a complex name, part of it, or a protein contained in it:
        .search
            input(type="text", name="complex-name", placeholder="e.g. COP9" value="").field#complex-search

    .info Depending on which experiment you have chosen, a complex may or may not shot that it contains protein curves.

    .space

    .grid-container

    .space

    .pagination#pagination-component


block settings
    .divider
    a(href='/search').item Search proteins
    a(href='/bulkSearch').item Search list of proteins
    a(href='/experiments').item Search Experiments
    a(href='/analyze-proteins').item Analyze

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/js/helper.js")
    script(type="text/javascript", src="/public/js/loading-animation.js")
    script(type="text/javascript", src="/public/js/pagination.js")
    script(type="text/javascript", src="/public/js/complexes.js")
