extends base

block postStyles
        link(rel='stylesheet', href='/public/css/complex.css')

block content
    .complex-header
        .complex-name
        .experiment-number#experiment-number
            .dropdown.dropdown-search
                input(type='hidden' name='experiments' value='default').text-input
                .text
                    .value Select
                .dropdown-icon
                    i.dropdown.icon
                .menu
        
    .data-container#data-container
        .column-left
            #curvesGraph
        .column-right
    
    .curves-grid#curves-grid
        h3.title Contained Proteins
        .grid
    
block settings
    .divider
    a(href='/search').item Search
    a(href='/experiments').item Search Experiments
    a(href='/curves').item Analyze

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/js/complex.js")
    script(type="text/javascript", src="/public/js/helper.js")
