extends base

block postStyles
        link(rel='stylesheet', href='/public/css/complex.css')
        link(rel='stylesheet', href='/public/modules/tour/dist/tour.css')

block content
    .modal#add-protein-modal
    .modal#protein-info-modal

    .experiment-number#experiment-number
        .dropdown.dropdown-search
            .experiment-number-loading-animation
            input(type='hidden' name='experiments' value='default').text-input
            .text
                .value Select
            .dropdown-icon
                i.dropdown.icon
            .menu
        
    .column-left
        #curvesGraph
            
    .column-right
        .column-right-loading-animation
    
    .curves-grid#curves-grid
        h3.title Contained Proteins
        .buttons
            .select-all-button
                a.ui.button#select-all-button
                    i.check.icon
                    span Select All
            .analyze-button-container
                a.ui.disabled.button.analyze-button(href='/analyze-proteins')
                    i.eye.icon
                    span Analyze
        .grid
    
block settings
    .divider
    a(href='/').item Search protein
    a(href='/search').item Search list of proteins
    a(href='/complexes').item Search Complex
    a(href='/experiments').item Search Experiments
    a(href='/analyze-proteins').item Analyze

block scripts
    - var delta = 50
    script(type="text/javascript", src='/public/modules/tour/dist/tour.js')
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/modules/highcharts/highcharts.js")
    script(type="text/javascript", src="/public/js/highchartsConfigObjects.js")
    script(type="text/javascript", src="/public/js/loading-animation.js")
    script(type="text/javascript", src="/public/js/helper.js")
    script(type="text/javascript", src="/public/js/modal.js")
    script(type="text/javascript", src="/public/js/complex.js")
