extends base

block postStyles
        link(rel='stylesheet', href='/public/css/complexes.css')
        link(rel='stylesheet', href='/public/css/pagination.css')

block content
    .search-header
        .complex-search-text Complex name:
        .search-complex-name
            input(type="text", name="complex-name", placeholder="e.g. complex" value="").field#complex-search
        .protein-list-search-text List contained proteins:
        .search-protein-list
            input(type="text", name="protein-list", placeholder="e.g. P12004 P40692" value="").field#protein-list-search
    
    h4 List of found complexes
    table.ui.celled.table
        thead
            tr
                th Name
                th Contained Proteins
        tbody#complex-list-container
            tr(colspan="2")
                td Empty
    
    .pagination#pagination-component


block settings
    .divider
    a(href='/search').item Find Proteins in Experiments
    a(href='/experiments').item Search Experiments
    a(href='/curves').item Analyze

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/js/helper.js")
    script(type="text/javascript", src="/public/js/pagination.js")
    script(type="text/javascript", src="/public/js/complexes.js")
