extends base

block postStyles
    link(rel='stylesheet', href='/public/css/curves.css')

block content
    .space
    h1 Global View
    .settings
        .text-coloring Select how the curves should be colored:
        .ui.selection.dropdown#coloring-dropdown
            i.dropdown.icon
            input(type="hidden" name="coloring" value="0").value
            .text
            .menu
                .item(data-value="0") Color by Protein
                .item(data-value="1") Color by Experiment
        .text-experiments Select which experiments to draw:
        .ui.selection.fluid.multiple.dropdown#experiments-dropdown
            input(type="hidden" name="experiments").value
            .text
            .menu
            i.dropdown.icon
        .text-proteins Select which proteins to draw:
        .ui.selection.fluid.multiple.dropdown#proteins-dropdown
            input(type="hidden" name="proteins").value
            .text
            .menu
            i.dropdown.icon
    
    .ui.vertically.divided.grid
        .two.column.row
            .column
                .curves-graph-container
                    #curves-chart.chart
                    .space
                    .ui.button#fullscreen-button View in new page
            .column
                #nodesGraph
                .space
                .ui.button.manhattan(data-content="The distance between two points measured along axes at right angles. In a plane with p1 at (x1, y1) and p2 at (x2, y2), it is |x1 - x2| + |y1 - y2|.") Manhattan
                .ui.button.euclidian(data-content="Euclidean distance or simply 'distance' examines the root of square differences between coordinates of a pair of objects.") Euclidian
                .ui.button.supremum(data-content="This is the maximum difference between any component of the vectors.") Supremum
                .ui.top.right.search.pointing.dropdown.button.minkowski(data-content="The Minkowski distance between two variabes X and Y is defined as (∑i=1n|Xi−Yi|p)1/p . The case where p = 1 is equivalent to the Manhattan distance and the case where p = 2 is equivalent to the Euclidean distance.") Minkowski
                    .menu
                        .item
                            .ui.input
                                input(type="number", name="rank", placeholder="3")#rank
                        .item
                            .ui.attached.button.submit Save

    h1 Selected Proteins
    .grid-container
        .text Click to remove
        .isoGrid
    .space

block settings
    .divider
    a(href='/search').item Find Proteins in Experiments
    a(href='/complexes').item Find Complex
    a(href='/experiments').item Search Experiments

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/modules/disi/build/disi.js")
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/modules/highcharts/highcharts.js")
    script(type="text/javascript", src="/public/js/highchartsConfigObjects.js")
    script(type="text/javascript", src="/public/js/curves.js")
    script(type="text/javascript", src="/public/js/helper.js")
