extends base

block content
    .space
    h1 Global View
    .ui.vertically.divided.grid
        .two.column.row
            .column
                #curvesGraph
            .column
                #nodesGraph
                .space
                .ui.button.manhattan Manhattan
                .ui.button.euclidian Euclidian
                .ui.top.right.search.pointing.dropdown.button.minkowski Minkowski
                    .menu
                        .item
                            .ui.input
                                input(type="number", name="rank", placeholder="3")
                        .item
                            .ui.attached.button.submit Save

                .ui.button.supremum Supremum
                .ui.button.tanimmoto Tanimoto
                .ui.button.dice Dice coefficient
                .ui.button.cosine Cosine
    h1 Selected Proteins
    .isoGrid
    .space

block settings
    .divider
    .item.proteins Selected proteins

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/libs/mecu-line")
    script(type="text/javascript", src="/public/libs/mecu-graph")
    script(type="text/javascript", src="/public/libs/mecu-utils")
    script(type="text/javascript", src="/public/js/curves.js")