extends base

block postStyles
    link(rel='stylesheet', href='/public/css/experiments.css')
    link(rel='stylesheet', href='/public/css/pagination.css')

block content
    h3 Experiments
    table.ui.celled.table
        thead
            tr
                th ID
                th Name
                th Uploader
        tbody#experiments-list-container
    
    .pagination#pagination-component

block settings
    .divider
    a(href='/search').item Find Proteins in Experiments
    a(href='/complexes').item Find Complex
    a(href='/curves').item Analyze

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/js/pagination.js")
    script(type="text/javascript", src="/public/js/experiments.js")
