extends base

block content
    h1 Submit a new experiment
    form.ui.form(method="post", action="/api/experiment", enctype="multipart/form-data")
        .field
            label Cell line
            input(type="text", name="cellLine")
        .field
            label Source
            input(type="file", name="data", id="data")
        .field
            div(style= "background-color: #1B1C1D; color: #0ea432;")
                code#preview
        .field
            .ui.slider.checkbox
                input(type="checkbox", tabindex="0", name="inVivo", value=false).hidden
                label In vivo?
        .ui.button.submit Upload

    .space

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/mecu-utils")
    script(type="text/javascript", src="/public/js/experimentUpload.js")