extends base

block content
    h1 Submit a new experiment
    form.ui.form(method="post", action="/api/experiment", enctype="multipart/form-data")
        .field
            label Name
            input(type="text", name="description")
        .field
            label Source
            input(type="file", name="data", id="data")
        .field
            div(style= "background-color: #1B1C1D; color: #0ea432;")
                code#preview
        .field
            .ui.slider.checkbox
                input(type="checkbox", tabindex="0", name="lysate", value=false).hidden
                label Experiment on cell lysate? (Default: No)
        .ui.button.submit Upload

    .space

block settings
    .divider
    a(href='/search').item Find Proteins in Experiments
    a(href='/experiments').item Search Experiments

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/js/experimentUpload.js")
