extends base

block postStyles
        link(rel='stylesheet', href='/public/css/protein.css')

block content
    .protein-header
        .protein
            h3.protein-name#protein-name
        .experiment
            .experiment-number#experiment-number
                .dropdown.dropdown-search
                    input(type='hidden' name='experiments' value='default').text-input
                    .text
                        .value Select
                    .dropdown-icon
                        i.dropdown.icon
                    .menu

    .protein-container
        .protein-curve#protein-curve
        
        .meta-data-container
            .protein-data#protein-data
                h4.container-info Protein:
                .uniprot-id
                    .field Uniprot ID:
                    .separator
                    a.value
                .peptides
                    .field Peptides:
                    .separator
                    .value
                .psms
                    .field PSMS:
                    .separator
                    .value
                .created
                    .field Created:
                    .separator
                    .value
                .updated
                    .field Updated:
                    .separator
                    .value
            
            .experiment-data#experiment-data
                h4.container-info Experiment:
                .name
                    .field Name:
                    .separator
                    .value
                .description
                    .field Description:
                    .separator
                    .value
                .lysate
                    .field Lysate:
                    .separator
                    .value
                .created
                    .field Created:
                    .separator
                    .value
                .updated
                    .field Updated:
                    .separator
                    .value
                .uploader
                    .field Uploader:
                    .separator
                    a.value
            
    .experiments-container#experiments-container
        h3 Experiments with this Protein
        .info Click to select
        .grid
    
    .related-complexes#related-complexes-container
        h3 Related Complexes
        .grid
            
    .related-proteins-container#related-proteins-container
        h3 Related Proteins
        .grid

block settings
    .divider
    a(href='/search').item Search
    a(href='/experiments').item Search Experiments
    a(href='/curves').item Selected Curves

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/js/protein.js")
    script(type="text/javascript", src="/public/js/helper.js")
