extends base

block postStyles
    link(rel='stylesheet', href='/public/css/search.css')

block content
    .search-header
        .search
            input(type="text", name="prot", placeholder="Search protein" value="P12").field
    .space
    .selectors
    .space
    .grid
    .space


block settings
    .divider
    a(href='/search').item Search
    a(href='/curves').item Selected Curves

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/js/search.js")
