extends base

block postStyles
    link(rel='stylesheet', href='/public/css/search.css')
    link(rel='stylesheet', href='/public/css/pagination.css')

block content
    .search-header
        .search
            input(type="text", name="prot", placeholder="e.g. P12004" value="P12").field
    .space
    .selectors
    .space
    .grid-container
        .grid
    .space
    .pagination#pagination-component


block settings
    .divider
    a(href='/search').item Search
    a(href='/experiments').item Search Experiments
    a(href='/curves').item Analyze

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/js/search.js")
    script(type="text/javascript", src="/public/js/pagination.js")
    script(type="text/javascript", src="/public/js/helper.js")
