extends base

block content
    #spacedText
        .ui.label.locButton
        .ui.input.search
            input(type="text", name="prot", placeholder="Search protein").prompt.inline
        .space
        .grid

    #title
        a(href="/") MeCu
        
block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/isotope/isotope.js")
    script(type="text/javascript", src="/public/isotope/packery.js")
    script().
        var localizations = initializeLocalizations(!{JSON.stringify(localizations)});

    if proteins
        script().    
            var queryProteins = !{JSON.stringify(proteins)};
    script(type="text/javascript", src="/public/search.js")