extends base

block content
    .text-center
        .ui.input.search
            input(type="text", name="prot", placeholder="Search protein" value="P12").prompt.inline
    .space
    .selectors
        // .ui.label.clearButton clear
    .space
    .grid
    .space


block settings
    .divider
    a(href='/search').item Search
    a(href='/curves').item Selected Curves

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/js/search.js")
