extends base

block content
    #spacedText
        .ui.label.clearButton
        .ui.input.search
            input(type="text", name="prot", placeholder="Search protein").prompt.inline
        .space
        .grid

    #title
        a(href="/") MeCu
        
block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/libs/mecu-viz")

    if proteins
        script().    
            var queryProteins = !{JSON.stringify(proteins)};
    script(type="text/javascript", src="/public/js/search.js")