extends base

block content
    .text-center
        .ui.input.search
            input(type="text", name="prot", placeholder="Search protein").prompt.inline
    .space
    .selectors
        // .ui.label.clearButton clear
    .space
    .grid

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/libs/mecu-viz")
    script(type="text/javascript", src="/public/js/search.js")