extends base

block postStyles
    link(rel='stylesheet', href='/public/css/search.css')
    link(rel='stylesheet', href='/public/css/pagination.css')
    link(rel='stylesheet', href='/public/modules/tour/dist/tour.css')

block content

    .descriptive-info-box
        p(style="font-size:1.3em;").descriptive-info
            | You can query the database using UniProt Accession numbers. &nbsp;
    .space
    .search-header
        .search
            input(type="text", name="prot", placeholder="e.g. P12004" value="")#search-field.field
    .descriptive-info-box
        p.descriptive-info
            | If you are unaware of the accession for your protein or gene of interest, you can look it up on &nbsp;
            a(href="https://www.uniprot.org/", target="_blank") UniProt
            | .

    .space
    .space

    .grid-container

    .space

    .pagination#pagination-component


block settings
    .divider
    a(href='/bulkSearch').item Search list of proteins
    a(href='/complexes').item Search Complex
    a(href='/experiments').item Search Experiments
    a(href='/analyze-proteins').item Analyze

block help-button
    .ui.button#help-menu-item Help

block scripts
    - var delta = 50
    script(type="text/javascript", src='/public/modules/tour/dist/tour.js')
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/js/pagination.js")
    script(type="text/javascript", src="/public/js/loading-animation.js")
    script(type="text/javascript", src="/public/js/helper.js")
    script(type="text/javascript", src="/public/js/search.js")
