extends base

block postStyles
    link(rel='stylesheet', href='/public/css/search.css')
    link(rel='stylesheet', href='/public/css/pagination.css')

block content
    .search-header
        .search
            input(type="text", name="prot", placeholder="e.g. P12004" value="")#search-field.field
    .space

    .descriptive-info This page allows you to search for specific proteins with an UniProt identifier (eg. P12004) or the full name of a protein. 
        | In the menu (top right) you can also search for a specific list of proteins, complexes or experiments.
        | Once you have selected some protein (indicated by a green dot), you can view all selected proteins and have them analyzed together on the 'Analyze' page.

    .space
        
    .grid-container

    .space

    .pagination#pagination-component


block settings
    .divider
    a(href='/search').item Search list of proteins
    a(href='/complexes').item Search Complex
    a(href='/experiments').item Search Experiments
    a(href='/analyze-proteins').item Analyze

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/js/pagination.js")
    script(type="text/javascript", src="/public/js/loading-animation.js")
    script(type="text/javascript", src="/public/js/helper.js")
    script(type="text/javascript", src="/public/js/search.js")
