.navigation(style="position: relative; top: -3.9em; left: 51em;")
    .ui.dropdown.button#menu-button
        .menu-button Menu
        .menu#menu-content(style="z-index:1000;")
            if user
                -
                    var name = user.get('displayName');
                    name = name.length > 20 ? name.substr(0.15) + "..." : name;
                .item= name
                a(href="/upload").item Upload experiment
                a(href="/upload-experiment-guide").item How to upload an experiment
                if user.isAdmin === true
                    a(href="/users").item Usermanagement
                a(href="/auth/logout").item Logout
            else
                a(href="/auth/google").item Login
            block settings
            .divider
            a(href="/about").item.about About
    .help-button#help-button
        block help-button
