extends base

block postStyles
    link(rel='stylesheet', href='/public/css/search.css')
    link(rel='stylesheet', href='/public/css/start-page.css')

block content

    .space

    .statistics_container
        .ui.statistics
            .statistic.orange
                .value#number-of-proteins -
                .label Proteins
            .statistic.blue
                .value#number-of-experiments -
                .label Experiments

    .space

    p(style="font-size:1.3em;")
        | Welcome to the protein melting degree database! This database aims to be the one stop for &nbsp;
        a(href="https://en.wikipedia.org/wiki/Thermal_shift_assay", target="_blank") thermal shift assay &nbsp;
        | experiments. Here you can find and download thermal assays for a variety of cell lines across different conditions.

    #four-option-holder
        a(href='/search')#first-option.option-cube
            .top
                .content P12004
            .bottom
                .content Search by UniProt accessor number or protein name.
        
        a(href='/bulkSearch')#second-option.option-cube
            .top
                .content P12005, Q23478, O01012
            .bottom
                .content Search by UniProt accessors in bulk.

        a(href='/complexes')#third-option.option-cube
            .top
                .content CASK-LIN7C-APBA1 complex
            .bottom
                .content View list of complexes.
        
        a(href='/experiments')#fourth-option.option-cube
            .top
                .content Exp. 1, Exp. 2, Exp. 3
            .bottom
                .content View list of experiments.

    // A possible section
    //.database-statistics#statistics
    //  h1 Statistics



block settings
    .divider
    a(href='/search').item Search proteins
    a(href='/bulkSearch').item Search list of proteins
    a(href='/complexes').item Search Complex
    a(href='/experiments').item Search Experiments
    a(href='/analyze-proteins').item Analyze

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src='/public/js/start-page.js')

