extends base

block postStyles
    link(rel='stylesheet', href='/public/css/search.css')

block content
    .start-header TITLE
    
    .space


block settings
    .divider
    a(href='/search').item Search proteins
    a(href='/bulkSearch').item Search list of proteins
    a(href='/complexes').item Search Complex
    a(href='/experiments').item Search Experiments
    a(href='/analyze-proteins').item Analyze

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
