extends base

block content
    h1= title
    p= message
    
block settings
    .divider
    a(href='/search').item Search list of proteins
    a(href='/complexes').item Search Complex
    a(href='/experiments').item Search Experiments
    a(href='/curves').item Analyze
