extends base

block content
    h1= title
    p= message
    
block settings
    .divider
    a(href='/search').item Find Proteins in Experiments
    a(href='/experiments').item Search Experiments
    a(href='/curves').item Analyze
