extends base

block postStyles
    link(rel='stylesheet', href='/public/css/users.css')
    link(rel='stylesheet', href='/public/css/pagination.css')

block content
    h3 Users

    table.ui.celled.table
        thead
            tr
                th Name
                th Google Id
                th Allowed to post
                th Admin rights
        tbody#users-list-container

    .pagination#pagination-component


block settings
    .divider
    a(href='/search').item Search proteins
    a(href='/bulkSearch').item Search list of proteins
    a(href='/complexes').item Search Complex
    a(href='/analyze-proteins').item Analyze

block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/libs/isotope/isotope.js")
    script(type="text/javascript", src="/public/libs/isotope/packery.js")
    script(type="text/javascript", src="/public/js/loading-animation.js")
    script(type="text/javascript", src="/public/js/pagination.js")
    script(type="text/javascript", src="/public/js/helper.js")
    script(type="text/javascript", src="/public/js/users.js")
